name: Build & Test

on:
  push:
    branches: [ main, develop, feat/* ]
  pull_request:
    branches: [ main, develop, feat/* ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        working-directory: ./src
        run: dotnet restore

      - name: Build
        working-directory: ./src
        run: dotnet build --configuration Release --no-restore

      - name: Test
        working-directory: ./src
        run: dotnet test --no-restore --verbosity normal