name: Publish Packages

on:
  workflow_dispatch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        working-directory: ./src
        run: dotnet restore

      - name: Build
        working-directory: ./src
        run: dotnet build --configuration Release --no-restore

      - name: Generate Nuget Packages
        working-directory: ./src
        run: dotnet pack --configuration Release

      - name: Publish Nuget Packages to Nuget.org
        working-directory: ./src
        run: dotnet nuget push SimpleChain/bin/Release/*.nupkg -k ${{secrets.NUGET_API_TOKEN}} -s https://api.nuget.org/v3/index.json --skip-duplicate

      - name: Publish Nuget Packages to Github
        working-directory: ./src
        run: |
          dotnet nuget push SimpleChain/bin/Release/*.nupkg --api-key ${{ secrets.PACKAGE_API_TOKEN }} --skip-duplicate --source "https://nuget.pkg.github.com/lfclementino/index.json"